.badge {
  background-color: #d3d3d3;
  color: #5c5c5c;
  font-weight: 900;
  border-radius: 40px;
}

.list-group-item:hover {
  background-color: transparent;
  color: orange;
}

.list-group-item:hover .badge {
  background-color: orange;
}

.list-group-item.active {
  background-color: #fff;
  color: orange;
  font-weight: 900;
}

.list-group-item.active .badge {
  background-color: orange;
  color: #5c5c5c;
}
